@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Domine";
  src: url("../../fonts/Domine-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Domine-Bold";
  src: url("../../fonts/Domine-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url(../../fonts/Lato-Light.ttf) format("ttf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../icons/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-circle-right:before, .icon-right:before, .icon-circle-next:before, .icon-arrow:before {
  content: "";
}

.icon-credit-card:before, .icon-money:before, .icon-payment:before, .icon-ecommerce:before {
  content: "";
}

.icon-home:before, .icon-house:before {
  content: "";
}

.icon-copyright:before {
  content: "";
}

.icon-quote-right:before {
  content: "";
}

.icon-quote-left:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-laptop:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-bank:before {
  content: "";
}

:root {
  --main-color: #03b6e7;
  --second-color: #ffac56;
  --text-color: #4e4e4e;
  --text-light: white;
  --font: "Montserrat";
  --font-light: "Montserrat-Light";
  --font-bold: "Montserrat-Bold";
  --domine-font: "Domine";
  --lato-font: "Lato-Light";
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 1rem/1.2 var(--font), sans-serif;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: black;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: none;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -9px;
}
.hamburger-inner::after {
  bottom: -9px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000000;
}

.swiper-button-lock {
  display: none;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progressbar, .swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
  display: none;
}

.contacts {
  background: #262829;
  min-height: 2.5rem;
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .contacts .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.contacts__text {
  color: var(--text-light);
  margin: 0;
  line-height: 1.25rem;
}
@media screen and (min-width: 480px) {
  .contacts__text {
    line-height: 2.5rem;
  }
  .contacts__text:first-child {
    padding-right: 1.875rem;
    border-right: 1px solid #4e4e4e;
  }
  .contacts__text:last-child {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
@media screen and (min-width: 992px) {
  .contacts__text:last-child {
    padding-right: 0;
  }
}

.contacts__link {
  color: #686c6e;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  background: white;
}
.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation .container {
    display: grid;
    grid-template-columns: 45% 55%;
  }
}

.logo {
  padding: 1.6875rem 0;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 166, 211, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -120vh;
  height: 100vh;
  bottom: auto;
  transition: 0.5s;
  z-index: 3000;
  font-family: var(--font), sans-serif;
}
@media screen and (min-width: 768px) {
  .nav {
    position: unset;
    background: unset;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.nav.is-active {
  top: 0;
}
.nav__link {
  color: white;
  text-decoration: none;
  margin: 0.625rem 0;
  text-transform: uppercase;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .nav__link {
    color: #262829;
  }
}
.nav .nav__link--active {
  color: var(--second-color);
}
.nav .nav__link::active {
  color: red;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.slider {
  position: relative;
}

.slider-img {
  width: 100%;
  height: 43.75rem;
  object-fit: cover;
}

.thumb {
  position: absolute;
  left: 0;
  bottom: 0.7%;
  z-index: 2;
  gap: 0;
  color: var(--text-light);
}

.thumb__title {
  background: var(--second-color);
  width: 100%;
  height: 2.3958333333rem;
  text-transform: uppercase;
  border: 0.0208333333rem solid var(--second-color);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.thumb__title__item {
  font-size: 0.2916666667rem;
  margin: 0;
  margin-left: 10%;
  margin-bottom: 1em;
}
.thumb__title__item-2 {
  font-family: "Lato-Light", sans-serif;
  font-size: 0.625rem;
  font-weight: 300;
  margin: 0;
  margin-left: 10%;
}

.thumb__list {
  display: flex;
  flex-direction: column;
  width: 9.5833333333rem;
  text-align: center;
}

.thumb__item, .swiper__btn {
  min-width: 100%;
  height: 2.7083333333rem;
  background: var(--main-color);
  border: 0.0208333333rem solid #00a6d3;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.2916666667rem;
  font-weight: normal;
  text-transform: uppercase;
}
.thumb__item span, .swiper__btn span {
  font-family: "icomoon";
}
.thumb__item .thumb__heading, .swiper__btn .thumb__heading {
  font-weight: 400;
  font-size: 0.4375rem;
  text-transform: uppercase;
  margin-bottom: -0.125rem;
}
.thumb__item .icon-circle-right, .swiper__btn .icon-circle-right {
  font-size: 0.5416666667rem;
}
.thumb__item__inner, .swiper__btn__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.main-icon {
  font-size: 0.625rem;
  text-align: left;
  padding-left: 15%;
}

.swiper__btn__item {
  font-family: var(--font);
  font-size: 0.2916666667rem;
  padding: 0.4166666667rem 0.625rem;
  border: none;
  border-radius: 0.5416666667rem;
  color: white;
  background: #16d428;
  margin: auto;
}

.swiper-slide-thumb-active {
  background: #00a6d3;
}

@media screen and (min-width: 480px) {
  .thumb {
    transition: 0.5s;
    width: 14.375rem;
    left: 15%;
    bottom: 0.7%;
    z-index: 2;
    gap: 0;
  }

  .thumb__title {
    height: 3.59375rem;
  }
  .thumb__title__item {
    font-size: 0.4375rem;
  }
  .thumb__title__item-2 {
    font-size: 0.9375rem;
  }

  .thumb__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 14.5rem;
  }

  .thumb__item, .swiper__btn {
    min-width: 7.125rem;
    height: 4.0625rem;
    border: 0.0625rem solid #00a6d3;
    font-size: 0.4375rem;
  }
  .thumb__item .icon-circle-right, .swiper__btn .icon-circle-right {
    font-size: 0.8125rem;
  }
  .thumb__item .thumb__heading, .swiper__btn .thumb__heading {
    font-size: 0.5833333333rem;
  }

  .swiper__btn__item {
    font-size: 0.4375rem;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.8125rem;
  }

  .main-icon {
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 768px) {
  .thumb {
    transition: 0.5s;
    width: 19.1666666667rem;
    left: 15%;
    bottom: 0.7%;
    z-index: 2;
    gap: 0;
  }

  .thumb__title {
    height: 4.7916666667rem;
  }
  .thumb__title__item {
    font-size: 0.5833333333rem;
  }
  .thumb__title__item-2 {
    font-size: 1.25rem;
  }

  .thumb__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 19.3rem;
  }

  .thumb__item, .swiper__btn {
    min-width: 9.5rem;
    height: 5.4166666667rem;
    border: 0.0625rem solid #00a6d3;
    font-size: 0.5833333333rem;
  }
  .thumb__item .icon-circle-right, .swiper__btn .icon-circle-right {
    font-size: 1.0833333333rem;
  }
  .thumb__item .thumb__heading, .swiper__btn .thumb__heading {
    font-size: 0.7291666667rem;
  }

  .swiper__btn__item {
    font-size: 0.5833333333rem;
    padding: 0.8333333333rem 1.25rem;
    border-radius: 1.0833333333rem;
  }

  .main-icon {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  .thumb {
    width: 28.75rem;
  }

  .thumb__title {
    height: 7.1875rem;
    text-align: center;
  }
  .thumb__title__item {
    font-size: 0.875rem;
  }
  .thumb__title__item-2 {
    font-size: 1.875rem;
  }

  .thumb__list {
    display: flex;
    flex-direction: row;
    width: 28.75rem;
    flex-wrap: wrap;
  }

  .thumb__item, .swiper__btn {
    min-width: 14.25rem;
    height: 8.125rem;
    border: 0.0625rem solid #00a6d3;
    font-size: 0.875rem;
  }
  .thumb__item .icon-circle-right, .swiper__btn .icon-circle-right {
    font-size: 1.625rem;
  }
  .thumb__item .thumb__heading, .swiper__btn .thumb__heading {
    font-size: 0.875rem;
  }

  .swiper__btn__item {
    font-size: 0.875rem;
    padding: 1.25rem 1.875rem;
    border-radius: 1.625rem;
  }

  .main-icon {
    font-size: 1.875rem;
  }
}
.container--info {
  width: 90%;
  height: 27.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5.9375rem;
}

.info__title1, .info__title2 {
  text-align: right;
}

.info__title1 {
  color: #898e8f;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.info__title2 {
  color: #343a3b;
  font-size: 2rem;
  margin: 0 auto;
}

.info__text {
  color: #838b8c;
  font-size: 0.9375rem;
  font-family: var(--domine-font);
  text-align: right;
}

.info__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.9375rem;
}

.info__btn__item {
  color: white;
  background-color: #16d428;
  min-width: 8.4375rem;
  min-height: 2.8125rem;
  font-size: 0.8125rem;
  border: none;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .container--info {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    padding-top: 0;
  }
}
.pic {
  position: relative;
}

.pic__img {
  width: 100%;
}

.pic__overlay {
  position: absolute;
  width: 9.375rem;
  height: 11.0416666667rem;
  background: var(--main-color);
  border: 0.25rem solid white;
  bottom: -7.9166666667rem;
  left: 50%;
  transform: translateX(-50%);
}

.pic__overlay__inner {
  height: 9.7083333333rem;
  margin: 0.625rem;
  border: 0.0416666667rem solid white;
  text-align: center;
}
.pic__overlay__inner p {
  color: white;
}

.poster__icon {
  width: 50%;
}

.poster__num {
  font-size: 3.125rem;
  margin: 0;
  padding: 0;
}

.poster__text {
  margin: 0;
  padding: 0;
  font-size: 0.625rem;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .pic__overlay {
    width: 14.0625rem;
    height: 16.5625rem;
    border: 0.375rem solid white;
    bottom: -11.875rem;
  }

  .pic__overlay__inner {
    height: 14.5625rem;
    margin: 0.9375rem;
    border: 0.0625rem solid white;
  }

  .poster__icon {
    width: 50%;
  }

  .poster__num {
    font-size: 4.6875rem;
  }

  .poster__text {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .pic__overlay {
    width: 9.375rem;
    height: 11.0416666667rem;
    border: 0.25rem solid white;
    bottom: -7.9166666667rem;
  }

  .pic__overlay__inner {
    height: 9.7083333333rem;
    margin: 0.625rem;
    border: 0.0416666667rem solid white;
  }

  .poster__icon {
    width: 50%;
  }

  .poster__num {
    font-size: 3.125rem;
  }

  .poster__text {
    font-size: 0.4166666667rem;
  }
}
@media screen and (min-width: 992px) {
  .pic__overlay {
    width: 14.0625rem;
    height: 16.5625rem;
    border: 0.375rem solid white;
    bottom: -11.875rem;
  }

  .pic__overlay__inner {
    height: 14.5625rem;
    margin: 0.9375rem;
    border: 0.0625rem solid white;
  }

  .poster__icon {
    width: 50%;
  }

  .poster__num {
    font-size: 4.6875rem;
  }

  .poster__text {
    font-size: 0.625rem;
  }
}
.footer {
  background-color: #262829;
  max-height: rem 525px;
  color: #e1e1e1;
  width: 100%;
  padding: 2.96875rem 0;
  padding-bottom: 1.75rem;
}

.right-footer {
  margin-top: 0.9375rem;
}

.footer-top p {
  font-size: 0.9375rem;
  font-family: var(--domine-font);
  color: #6a7172;
  max-width: 400px;
}

.footer__title {
  text-transform: uppercase;
  padding-top: 1.25rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.9375rem;
}

.inputs {
  position: relative;
}

.footer-input {
  width: 80%;
  height: 2.5rem;
  border-radius: 3.125rem;
  border: none;
  background-color: #323334;
  text-transform: uppercase;
  font-size: 0.5416666667rem;
  color: white;
}

.footer__button {
  position: absolute;
  color: white;
  background-color: #16d428;
  font-size: 0.625rem;
  border: none;
  border-radius: 3.125rem;
  width: 30%;
  height: 2.5rem;
  text-transform: uppercase;
  right: 0;
  top: 0;
}

.footer-nav {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-nav__item a {
  font-size: 0.8125rem;
  text-decoration: none;
  padding: 0;
  color: #8c8385;
  line-height: 1.5rem;
}
.footer-nav__item a:hover {
  color: white;
}

@media screen and (min-width: 480px) {
  .right-footer {
    padding-left: 2.03125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-nav {
    padding: 0;
  }

  .footer-nav__item a {
    font-size: 0.6770833333rem;
  }

  .footer-p {
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .bothside {
    display: flex;
    justify-content: space-between;
  }

  .footer__title {
    font-size: 0.8928571429rem;
    font-weight: 700;
  }

  .left-footer {
    width: 50%;
  }

  .right-footer {
    width: 50%;
    margin-top: 0;
  }
  .right-footer .footer-nav {
    text-align: left;
    margin-right: 1rem;
  }
  .right-footer .footer-nav__item a {
    font-size: 0.5803571429rem;
  }
  .right-footer .footer-nav:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 5.9375rem 0;
    padding-bottom: 3.5rem;
  }

  .bothside {
    display: flex;
  }

  .footer-input {
    font-size: 0.8125rem;
  }

  .footer__button {
    font-size: 0.9375rem;
  }

  .footer__title {
    font-size: 1.0416666667rem;
  }

  .right-footer {
    padding-left: 4.0625rem;
  }
  .right-footer .footer-nav__item a {
    font-size: 0.6770833333rem;
    line-height: 1.5625rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 1.25rem;
  }

  .right-footer .footer-nav__item a {
    font-size: 0.8125rem;
    line-height: 1.875rem;
  }
}
.copyright__text {
  font-size: 0.9375rem;
  color: #838b8c;
  font-weight: 400;
  font-family: var(--domine-font);
  margin-top: 1.25rem;
}

.project__copyright {
  border-top: 0.0625rem solid #313334;
  margin-top: 2.8125rem;
}

@media screen and (min-width: 992px) {
  .project__copyright {
    margin-top: 5.625rem;
  }
}
.steps {
  background-color: #e7eff1;
  min-height: 31.25rem;
  color: #898e8f;
  margin-top: 5.9375rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
}
.steps .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.steps__grid {
  margin-top: 1.5625rem;
}

.steps-num {
  color: #85e293;
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 1.875rem;
}

.step-p {
  font-family: var(--domine-font);
  font-size: 0.9375rem;
  line-height: 1.75rem;
}

.step-header {
  color: #343a3b;
  font-weight: 700;
  font-size: 1.125rem;
}

.steps-title-p {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.steps-title-h {
  margin-top: 0;
  color: #343a3b;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .steps {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .steps {
    margin: 0;
    padding-top: 0;
  }

  .steps__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.projects {
  margin-top: 5.9375rem;
  margin-bottom: 5.9375rem;
}
.projects .container {
  width: 90%;
}

.projects__title1 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.projects__title2 {
  margin-top: 0;
  color: #343a3b;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.projects__grid {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem;
}
.projects__grid .projects__grid__item:first-child {
  grid-column: 1/3;
}
.projects__grid .project-grid__cover {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-column: 1/3;
}
.projects__grid .project-grid__cover .projects__grid__item {
  position: relative;
  background: var(--main-color);
}
.projects__grid .project-grid__cover .projects__grid__item:first-child {
  grid-column: 1/2;
}
.projects__grid .project-grid__cover .projects__grid__item:last-child {
  grid-column: 2/3;
}
.projects__grid .projects__grid__item:last-child {
  grid-column: 1/3;
}

.projects__grid__item {
  position: relative;
  background: var(--main-color);
  display: grid;
}

.projects__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 72%);
}

.projects__img--first {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 85%);
}

.projects__img--banking {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 72%);
}

.projects__btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  background: unset;
  border: 2px solid var(--second-color);
  width: 3.4375rem;
  height: 1.03125rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.projects__btn a {
  color: white;
  text-decoration: none;
  font-size: 0.375rem;
  text-transform: uppercase;
  font-family: var(--font);
}

.projects__plus {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.projects__plus .icon-plus {
  font-family: "icomoon";
  font-size: 0.75rem;
  color: white;
  padding: 0.2083333333rem;
  text-decoration: none;
}

.projects__grid__item-hover {
  width: 100%;
  height: 100%;
  background: #03b6e767;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.projects__grid__item-hover .projects-hover-title {
  font-size: 0.5625rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.projects__grid__item-hover .projects-hover-text {
  font-size: 0.46875rem;
  padding: 0 1rem;
}

.projects__grid__item:hover .projects__grid__item-hover {
  display: flex;
}

@media screen and (min-width: 480px) {
  .projects__grid {
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .projects__grid .projects__grid__item:first-child {
    grid-column: 1/3;
  }
  .projects__grid .project-grid__cover {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column: 3/4;
  }
  .projects__grid .project-grid__cover .projects__grid__item:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .projects__grid .project-grid__cover .projects__grid__item:last-child {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .projects__grid .projects__grid__item:last-child {
    grid-column: 1/4;
  }
  .projects__grid .projects-hover-title {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .projects__grid .projects-hover-text {
    font-size: 0.625rem;
    padding: 0 1rem;
  }
  .projects__grid .small-box-title {
    font-size: 0.5921052632rem;
    margin-bottom: 0;
  }
  .projects__grid .small-box-text {
    font-size: 0.4934210526rem;
  }

  .projects__btn {
    margin: 0.5rem;
    width: 4.5833333333rem;
    height: 1.375rem;
  }
  .projects__btn a {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .projects__grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .projects__grid .projects__grid__item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .projects__grid .project-grid__cover {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .projects__grid .project-grid__cover .projects__grid__item:first-child {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .projects__grid .project-grid__cover .projects__grid__item:last-child {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .projects__grid .projects__grid__item:last-child {
    grid-row: 2/3;
    grid-column: 3/5;
  }
  .projects__grid .projects-hover-title {
    font-size: 1.125rem;
  }
  .projects__grid .projects-hover-text {
    font-size: 0.9375rem;
    padding: 0 1rem;
  }
  .projects__grid .small-box-title {
    font-size: 0.75rem;
  }
  .projects__grid .small-box-text {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 992px) {
  .projects__plus .icon-plus {
    font-size: 0.9375rem;
    padding: 0.625rem;
  }

  .projects__grid .small-box-title {
    font-size: 1.125rem;
  }
  .projects__grid .small-box-text {
    font-size: 0.9375rem;
  }

  .projects__btn {
    margin: 0.5rem;
    width: 5.7291666667rem;
    height: 1.71875rem;
  }
  .projects__btn a {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 1200px) {
  .projects__btn {
    margin: 1rem;
    width: 6.875rem;
    height: 2.0625rem;
  }
  .projects__btn a {
    font-size: 0.75rem;
  }
}
.projects__btn__main {
  display: flex;
  justify-content: center;
}

.projects__btn__main-item {
  margin-top: 1.40625rem;
  color: white;
  background-color: #16d428;
  min-width: 8.4375rem;
  min-height: 2.8125rem;
  font-size: 0.8125rem;
  border: none;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .projects__btn__main-item {
    margin-top: 2.8125rem;
  }
}

.about-company {
  background: #03b6e7;
  position: relative;
}

.carousel .container {
  width: 95%;
  margin: 0 auto;
}

.card {
  padding: 0;
  background: unset;
  border: unset;
}

.card-div {
  min-height: 32.5rem;
}

.testimonials__header {
  margin-top: 10%;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a6ecff;
}

.testimonials__header2 {
  color: white;
  font-size: 2rem;
}

.container {
  position: relative;
}

.carousel-indicators {
  padding-left: 0.9375rem;
  padding-bottom: 0.625rem;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.carousel-indicators li {
  height: 2.25rem;
  width: 2.25rem;
  z-index: 55;
  text-indent: 0.3125rem;
  padding: 0.1875rem;
  background: none;
  left: 0;
  opacity: 0.5;
  display: flex;
}
.carousel-indicators li img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.carousel-indicators li div p {
  text-align: center;
  margin: 0;
  color: white;
}
.carousel-indicators li.active {
  height: 2.25rem;
  width: 2.25rem;
  opacity: 1;
}

.person-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.person-name {
  font-size: 0.4375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.person-job {
  font-size: 0.46875rem;
}

.carousel-indicators li.active span {
  display: inline-block;
}

.carousel-caption {
  bottom: 5.625rem;
}
.carousel-caption p {
  max-width: 55.875rem;
  margin: 0 auto;
  font-size: 0.9375rem;
}

.fa-quote-left {
  font-size: 0;
}

@media screen and (min-width: 480px) {
  .carousel-indicators {
    padding-bottom: 0.8333333333rem;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
  .carousel-indicators li {
    height: 3rem;
    width: 3rem;
    z-index: 55;
    text-indent: 0.3125rem;
    padding: 0.1875rem;
    background: none;
    left: 0;
    opacity: 0.5;
    display: flex;
  }
  .carousel-indicators li.active {
    height: 3rem;
    width: 3rem;
  }

  .carousel-caption {
    bottom: 7.03125rem;
  }
  .carousel-caption p {
    max-width: 55.875rem;
    margin: 0 auto;
    font-size: 0.9375rem;
  }

  .fa-quote-left {
    font-size: 1.5rem;
    margin: auto 0;
    padding: 1rem 1rem;
  }

  .person-name {
    font-size: 0.5833333333rem;
  }

  .person-job {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    padding-bottom: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
  .carousel-indicators li {
    height: 3.75rem;
    width: 3.75rem;
    z-index: 55;
    text-indent: 0.3125rem;
    padding: 0.1875rem;
    background: none;
    left: 0;
    opacity: 0.5;
    display: flex;
  }
  .carousel-indicators li.active {
    height: 3.75rem;
    width: 3.75rem;
  }

  .carousel-caption {
    bottom: 10.8173076923rem;
  }
  .carousel-caption p {
    max-width: 55.875rem;
    margin: 0 auto;
    font-size: 0.9375rem;
  }

  .fa-quote-left {
    font-size: 2rem;
    margin: auto 0;
    padding: 1rem 2rem;
  }

  .person-name {
    font-size: 0.5833333333rem;
  }

  .person-job {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 992px) {
  .carousel-indicators {
    padding-bottom: 3.75rem;
  }
  .carousel-indicators li {
    height: 4.5rem;
    width: 4.5rem;
  }
  .carousel-indicators li.active {
    height: 4.5rem;
    width: 4.5rem;
  }

  .carousel-caption {
    bottom: 12.5rem;
  }

  .person-name {
    font-size: 0.875rem;
  }

  .person-job {
    font-size: 0.9375rem;
  }

  .fa-quote-left {
    font-size: 3rem;
    margin: auto 0;
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__header {
    margin-top: 92px;
  }
}
.news {
  position: relative;
  background-color: #e7eff1;
  min-height: 46.5625rem;
  width: 100%;
}

.news__left {
  width: 100%;
}

.news__right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  background-image: url("../img/our_blog.jpg"), url("images/right-half.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 46.5625rem;
  display: none;
}

.news__title {
  padding-top: 2.96875rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #898e8f;
  font-weight: 400;
}

.news__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__header .news__header__title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.news__header .news__btn {
  margin-top: 0.625rem;
  display: flex;
}
.news__header .news__btn__item {
  padding: 0.625rem;
  width: 7.2916666667rem;
  border: 3px solid #979ea0;
  border-radius: 3.125rem;
  background: none;
}
.news__header .news__btn__item:first-child {
  margin-right: 1.25rem;
}
.news__header .news__btn__item .news__link {
  color: #606668;
  text-transform: uppercase;
  font-size: 0.5769230769rem;
}
.news__header .news__btn--active {
  border: 3px solid var(--second-color);
  font-weight: 700;
}

.news__event {
  margin-top: 2.6041666667rem;
}
.news__event .news__date {
  font-size: 0.9375rem;
  font-weight: 400;
}
.news__event .news__date--active span {
  color: #16d428;
}
.news__event .news__event__title {
  font-size: 1.125rem;
  color: #343a3b;
  text-transform: uppercase;
}
.news__event .news__event__text {
  margin-top: 1.3020833333rem;
  margin-bottom: 0;
  font-size: 0.9375rem;
  width: 80%;
  color: #838b8c;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .news__right {
    display: block;
  }

  .news__event {
    width: 50%;
    color: #838b8c;
  }
}
@media screen and (min-width: 992px) {
  .news__header {
    width: 50%;
    flex-direction: row;
    align-items: center;
  }
  .news__header .news__btn {
    margin-top: 0;
  }
  .news__header .news__btn__item:last-child {
    margin-right: 1.25rem;
  }

  .news__event__text {
    margin-top: 1.5625rem;
  }
}
@media screen and (min-width: 1200px) {
  .news__title {
    padding-top: 5.9375rem;
  }

  .news__header .news__btn__item {
    width: 8.75rem;
  }
  .news__header .news__btn__item:last-child {
    margin-right: 3.125rem;
  }
  .news__header .news__btn__item .news__link {
    color: #606668;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  .news__header .news__btn--active {
    border: 3px solid var(--second-color);
    font-weight: 700;
  }

  .news__event {
    margin-top: 3.125rem;
  }
  .news__event .news__event__text {
    width: 30.3125rem;
  }
}
.contact-us {
  min-height: 25rem;
  padding: 2.96875rem 0;
}

.contact__title p {
  font-size: 0.875rem;
  color: #898e8f;
  font-weight: 400;
  text-transform: uppercase;
  font-style: var(--domine-font);
  margin-bottom: 0.4166666667rem;
}
.contact__title h1 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.contact_boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.box {
  border: 0.0625rem solid #e0e9ec;
  width: 15rem;
  height: 5.4166666667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.box .box-h {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.box .box-p {
  font-size: 0.75rem;
}

@media screen and (min-width: 480px) {
  .box {
    width: 18.75rem;
    height: 6.7708333333rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }
  .box .box-h {
    font-size: 0.9375rem;
  }
  .box .box-p {
    font-size: 0.9375rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact-us {
    min-height: 19.2307692308rem;
    padding: 3.9583333333rem 0;
  }

  .contact_boxes {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
  }

  .box {
    width: 14.0625rem;
    height: 5.078125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .box:last-child {
    margin-right: 0;
  }
  .box .box-h {
    font-size: 0.703125rem;
  }
  .box .box-p {
    font-size: 0.703125rem;
  }
}
@media screen and (min-width: 992px) {
  .contact-us {
    min-height: 25rem;
    padding: 5.9375rem 0;
  }

  .contact_boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .box {
    width: 22.5rem;
    height: 8.125rem;
  }
  .box .box-h {
    font-size: 1.125rem;
  }
  .box .box-p {
    font-size: 1.125rem;
  }
}
.footer {
  background-color: #262829;
  max-height: rem 525px;
  color: #e1e1e1;
  width: 100%;
  padding: 2.96875rem 0;
  padding-bottom: 1.75rem;
}

.right-footer {
  margin-top: 0.9375rem;
}

.footer-top p {
  font-size: 0.9375rem;
  font-family: var(--domine-font);
  color: #6a7172;
  max-width: 400px;
}

.footer__title {
  text-transform: uppercase;
  padding-top: 1.25rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.9375rem;
}

.inputs {
  position: relative;
}

.footer-input {
  width: 80%;
  height: 2.5rem;
  border-radius: 3.125rem;
  border: none;
  background-color: #323334;
  text-transform: uppercase;
  font-size: 0.5416666667rem;
  color: white;
}

.footer__button {
  position: absolute;
  color: white;
  background-color: #16d428;
  font-size: 0.625rem;
  border: none;
  border-radius: 3.125rem;
  width: 30%;
  height: 2.5rem;
  text-transform: uppercase;
  right: 0;
  top: 0;
}

.footer-nav {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-nav__item a {
  font-size: 0.8125rem;
  text-decoration: none;
  padding: 0;
  color: #8c8385;
  line-height: 1.5rem;
}
.footer-nav__item a:hover {
  color: white;
}

@media screen and (min-width: 480px) {
  .right-footer {
    padding-left: 2.03125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-nav {
    padding: 0;
  }

  .footer-nav__item a {
    font-size: 0.6770833333rem;
  }

  .footer-p {
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .bothside {
    display: flex;
    justify-content: space-between;
  }

  .footer__title {
    font-size: 0.8928571429rem;
    font-weight: 700;
  }

  .left-footer {
    width: 50%;
  }

  .right-footer {
    width: 50%;
    margin-top: 0;
  }
  .right-footer .footer-nav {
    text-align: left;
    margin-right: 1rem;
  }
  .right-footer .footer-nav__item a {
    font-size: 0.5803571429rem;
  }
  .right-footer .footer-nav:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 5.9375rem 0;
    padding-bottom: 3.5rem;
  }

  .bothside {
    display: flex;
  }

  .footer-input {
    font-size: 0.8125rem;
  }

  .footer__button {
    font-size: 0.9375rem;
  }

  .footer__title {
    font-size: 1.0416666667rem;
  }

  .right-footer {
    padding-left: 4.0625rem;
  }
  .right-footer .footer-nav__item a {
    font-size: 0.6770833333rem;
    line-height: 1.5625rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 1.25rem;
  }

  .right-footer .footer-nav__item a {
    font-size: 0.8125rem;
    line-height: 1.875rem;
  }
}
.copyright__text {
  font-size: 0.9375rem;
  color: #838b8c;
  font-weight: 400;
  font-family: var(--domine-font);
  margin-top: 1.25rem;
}

.project__copyright {
  border-top: 0.0625rem solid #313334;
  margin-top: 2.8125rem;
}

@media screen and (min-width: 992px) {
  .project__copyright {
    margin-top: 5.625rem;
  }
}

/*# sourceMappingURL=main.css.map */
