// Config
@import ../sass/config/_fonts
@import ../sass/config/_var
@import ../sass/config/_mixin
@import ../sass/config/_default

$hamburger-types: (spin)
$hamburger-layer-color: black
$hamburger-layer-border-radius: none
$hamburger-layer-width: 30px
$hamburger-layer-height: 3px
@import ../node_modules/hamburgers/_sass/hamburgers/hamburgers

@import ../node_modules/swiper/swiper.scss
@import ../node_modules/swiper/components/navigation/navigation
@import ../node_modules/swiper/components/pagination/pagination



// Common
@import ../sass/common/_header
@import ../sass/common/_main-slider
@import ../sass/common/_info
@import ../sass/common/_footer
@import ../sass/common/_steps
@import ../sass/common/_projects



